html {
    height: 100%;
}

body {
   background-color: #E5E1D6;
}

.bg {
    height: 100%;
    width: 100%;
    position: absolute; 
    z-index: 0;
    object-fit: cover;
}

ul {
    flex-direction: row;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    gap: 50px;
}

.hero {
    position: relative;
    margin-bottom: 5rem;
}
element.style {
    text-shadow: 1px 1px 4px black;
}

h1 {
    position: absolute;
    color: aliceblue;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    line-height: 300px;
    font-size: 3em;
}

.hero img {
    height: 300px;
    display: flex;
    object-fit: cover;
    width: 100%;
    
}

li {
    text-align: center;
    max-width: 300px;
    border:  2px solid #f3f3f3;
    border-radius: 5px;
    align-self: center;
    z-index: 1;
}

li p {
    word-wrap: normal;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 0px;
    height: 3.6em;
    line-height: 1.8em;
}

model-viewer {
    height: 300px;
}
.HotspotAnnotation {
    max-width: 20ch;
}